[Unit]
Description=Timer for Chezmoi Update
# This service will only execute for a user with an existing chezmoi directory
ConditionPathExists=%h/.config/zirconium/chezmoi

[Timer]
OnBootSec=5m
OnUnitInactiveSec=1d

[Install]
WantedBy=timers.target
