[Unit]
Description=Initializes Chezmoi if directory is missing
ConditionPathExists=!%h/.config/zirconium/chezmoi

[Service]
ExecStart=/usr/libexec/zirconium-chezmoi-init
Type=oneshot

[Install]
WantedBy=graphical-session-pre.target
