[general]
service = "greetd-spawn"

[terminal]
vt = 1

[default_session]
command = "dms-greeter --command niri -C /usr/share/greetd/dms-niri-greetd.kdl"
#command = "dms-greeter --command niri -C /usr/share/greetd/dms-niri-greetd-pbp.kdl"
user = "greeter"
